*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.container{
    display: flex;
    align-items: center;
    justify-items: center;
}
Button{
    margin: 0px 12px 0px 12px;
}
